<!-- component -->
<div class="w-full mt-6">
  <div class="bg-gradient-to-b from-blue-800 to-blue-600 h-96 w-full"></div>
  <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mb-12">
    <div class="bg-white w-full shadow-xl rounded p-8 sm:p-12 -mt-72">
      <p class="text-3xl font-bold leading-7 text-center">Formulario inscripción <%= @product.name %></p>
      <%= form_with(model: @order,local: true, data: {turbo: false, controller:"check_buttons"} ) do |f| %>
        <!-- render rails error form  --->
        <%= f.hidden_field :cart_id, value: @cart.id %>        
        <%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
        <%= f.hidden_field :tutor_name, value: "_" %>
        <%= f.hidden_field :tutor_last_name, value: "_" %>
        <%= f.hidden_field :tutor_dni, value: "_" %>
        <%= f.hidden_field :tutor_phone, value: "_" %>
        <%= f.hidden_field :birthdate, value: "_" %>  
        <%= f.hidden_field :total_amount, value: 0 %>
        <div class="md:flex items-center mt-12">
          <div class="w-full md:w-1/2 flex flex-col">
            <%= f.label :name, class: 'label font-semibold leading-none' %>
            <%= f.text_field :name, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>
          </div>
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%= f.label :last_name, class: 'label font-semibold leading-none' %>
            <%= f.text_field :last_name, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>
          </div>
        </div>
        <div class="md:flex  items-center mt-12">
          <div class="w-full md:w-1/2 flex flex-col">
            <%= f.label :email, class: 'label font-semibold leading-none' %>
            <%= f.text_field :email, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>
          </div>
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%= f.label :phone, class: 'label font-semibold leading-none' %>
            <%= f.text_field :phone, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>    
          </div>
        </div>
        <div class="md:flex items-center mt-12 justify-between">
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%= f.label :dni, class: 'label font-semibold leading-none' %>
            <%= f.text_field :dni, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>    
          </div>
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%= f.label :birthdate , class: 'label font-semibold leading-none' %>
            <%= f.text_field :birthdate, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>    
          </div>
        </div>
        <div class="md:flex items-center mt-12 justify-between">
          <div class="w-full md:w-full flex flex-col">
            <%= f.label :address, class: 'label font-semibold leading-none' %>
            <%= f.text_field :address, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>
          </div>
        </div>
        <div class="md:flex items-center mt-12 justify-between">
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%= f.label :city, class: 'label font-semibold leading-none' %>
            <%= f.text_field :city, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>    
          </div>
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%= f.label :zip, class: 'label font-semibold leading-none' %>
            <%= f.text_field :zip, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>    
          </div>
        </div>

        
        <div class="md:flex items-center mt-12 justify-between">
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4" data-controller="tomselect">
            <%= f.label :region, class: 'label font-semibold leading-none' %>
            <%= f.select :region, options_for_select([
                                    ['Alava','Alava'],
                                    ['Albacete','Albacete'],
                                    ['Alicante', 'Alicante'],
                                    ['Almería', 'Almería'],
                                    ['Asturias', 'Asturias'],
                                    ['Avila','Avila'],
                                    ['Badajoz', 'Badajoz'],
                                    ['Barcelona', 'Barcelona'],
                                    ['Burgos', 'Burgos'],
                                    ['Cáceres','Cáceres'],
                                    ['Cádiz', 'Cádiz'],
                                    ['Cantabria', 'Cantabria'],
                                    ['Castellón', 'Castellón'],
                                    ['Ciudad Real', 'Ciudad Real'],
                                    ['Córdoba', 'Córdoba'],
                                    ['La Coruña', 'La Coruña'],
                                    ['Cuenca', 'Cuenca'],
                                    ['Gerona', 'Gerona'],
                                    ['Granada', 'Granada'],
                                    ['Guadalajara', 'Guadalajara'],    
                                    ['Guipúzcoa', 'Guipúzcoa'],
                                    ['Huelva', 'Huelva'],
                                    ['Huesca', 'Huesca'],
                                    ['Islas Baleares', 'Islas Baleares'],
                                    ['Jaén', 'Jaén'],
                                    ['León', 'León'],
                                    ['Lérida', 'Lérida'],
                                    ['Lugo', 'Lugo'],
                                    ['Madrid', 'Madrid'],
                                    ['Málaga', 'Málaga'],
                                    ['Murcia', 'Murcia'],
                                    ['Navarra', 'Navarra'],
                                    ['Orense', 'Orense'],
                                    ['Palencia', 'Palencia'],
                                    ['Las Palmas', 'Las Palmas'],
                                    ['Pontevedra', 'Pontevedra'],
                                    ['La Rioja', 'La Rioja'],
                                    ['Salamanca', 'Salamanca'],
                                    ['Segovia', 'Segovia'],
                                    ['Sevilla', 'Sevilla'],
                                    ['Soria', 'Soria'],
                                    ['Tarragona', 'Soria'],
                                    ['Santa Cruz de Tenerife', 'Santa Cruz de Tenerife'],
                                    ['Teruel', 'Teruel'],
                                    ['Toledo', 'Toledo'],
                                    ['Valencia', 'Valencia'],
                                    ['Valladolid', 'Valladolid'],
                                    ['Vizcaya', 'Vizcaya'],
                                    ['Zamora', 'Zamora'],
                                    ['Zaragoza', 'Zaragoza']
                                  ]),
            { include_blank: "All" },
            {prompt: 'Selecciona region', class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200',
            data: { tomselect_target: 'countriesField' } } %>    
          </div>

          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4" data-controller="tomselect">
            <%= f.label :country, class: 'label font-semibold leading-none' %>
            <%= f.select :country, options_for_select([['españa','ESPAÑA'],['portugal','PORTUGAL'],['austria','AUSTRIA']]),
            { include_blank: "All" },
            {prompt: 'Selecciona país', class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200',
            data: { tomselect_target: 'countriesField' } } %>    
          </div>
        </div>

        <div class="md:flex items-center mt-12" >
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%#= f.label :association, class: 'label font-semibold leading-none' %>
            <div class="w-full flex">
              <div class="form-check form-check-inline">
                <%#= f.radio_button :yes, true, class: '', data: {target: 'radioSelector', action: 'click->check_buttons#change_status'} %>
                <%#= f.label :yes, class:"form-check-label inline-block text-gray-800"%>
              </div>
              <div class="form-check form-check-inline">
                <%#= f.radio_button :no, false, class: 'form-check-input form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white  mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer', data: {target: 'radioSelector', action: 'zheck_buttons#change_status'} %>
                <%#= f.label :no, class:"form-check-label inline-block text-gray-800"%>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4 form-check hidden">
            <%#= f.label :association_name, class: 'label font-semibold leading-none' %>
            <%#= f.text_field :association_name, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>
          </div>
        </div>
        <div class="w-full flex flex-col mt-8">
          <%= f.label :content, class: 'label font-semibold leading-none' %>          
          <%= f.rich_text_area :content, class: 'h-40 text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>
        </div>
        <div class="md:flex items-center mt-12 justify-between">
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%= f.label :dni_front, class: 'label font-semibold leading-none' %>
            <%= f.file_field :dni_front, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>    
          </div>
          <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
            <%= f.label :dni_back, class: 'label font-semibold leading-none' %>
            <%= f.file_field :dni_back, class: 'textfield leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200' %>    
          </div>
        </div>
        <div class="flex items-center justify-center w-full">
          <%= f.submit nil, class: 'mt-9 font-semibold leading-none text-white py-4 px-10 bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none' %>
        </div>
      <% end %>
    </div>
  </div>
</div>