<div class="container">
  <div class="flex fle-col" data-controller="launch-modal">
    <%= turbo_frame_tag 'legal_texts',class:'w-full' do %>
      <h1 class="font-bold text-4xl text-center mt-6 mb-6">Orders</div>
    <% end %>

    <%= render TableComponent.new(headers: @headers) do |table| %>
      <%= @orders.each do |order|%>
        <%= table.row(cells: object_to_table_cells(order, @attrs)) do  |row| %>
          <% row.actions do %>
            <div class="flex flex-row justify-end">
              <% if action_name != "show" %>
                <%= link_to "Show", order,data: { turbo_frame: 'modal' }, class: "button-primary mr-4" %>
                <%= link_to 'Edit', edit_order_path(order), data: { turbo_frame: 'modal' }, class: "button-primary mr-4" %>
                <%= button_to 'Delete', order_path(order), method: :delete, class: 'button-decline mr-4' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>