<div class="block p-6 rounded-lg shadow-lg bg-white">
  <%= form_with(model: @email_base_template,local: true, data: {turbo: false} ) do |f| %>
    <div class="form-group mb-6">
      <%= f.label :title, class: 'label' %>
      <%= f.text_field :title, class: 'textfield' %>
      <%= f.label :kind, class: 'label' %>
      <%= f.select :kind, options_for_select(EmailBaseTemplate.kinds.map { |key, value| [key, EmailBaseTemplate.kinds.key(value)]}, email_base_template.kind ), class: 'textfield' %>
    </div>
    <div class="form-group mb-6">
        <%= f.label :content, class: 'label' %>          
        <%= f.rich_text_area :content %>
    </div>
    <%= f.submit nil, class: 'button-primary' %>   
  <% end %>
</div>
