<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @order.name %></h1>

    <% if @password != '' %>
      Se te ha creado un usuario.

      Para loguearte introduce tu email: <%= @user.email%>
      y tu contraseña: <%= @password %>
      Recuerda que puedes cambiar esta contraseña en tu perfil.
    <% end %>


    <p>
      You have successfully subscirbed to <%= @order.product_name%>,
      your username is: <%= @order.email %>.<br>
    </p>

    te has inscrito en <%= @order.id %>
  </body>
</html>