<div class="flex fle-col" data-controller="launch-modal">
  <%= turbo_frame_tag 'category',class:'w-full' do %>
    <h1 class="font-bold text-4xl text-center">Categorías</div>
  <% end %>

  <%= button_to 'new', new_category_path, method: :get, data: { turbo_frame: 'modal' },class: 'button-primary w-20' %>
  <%= turbo_frame_tag Category.new %>

  <%= render TableComponent.new(headers: @headers) do |table| %>
    <%= @categories.each do |category|%>
      <%= table.row(cells: object_to_table_cells(category, @attrs)) do  |row| %>
        <% row.actions do %>
          <div class="flex flex-row justify-end">
            <% if action_name != "show" %>
              <%= link_to "Show", category,data: { turbo_frame: 'modal' }, class: "button-primary mr-4" %>
              <%= link_to 'Edit', edit_category_path(category), data: { turbo_frame: 'modal' }, class: "button-primary mr-4" %>
              <%= button_to 'Delete', category_path(category), method: :delete, class: 'button-decline mr-4' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>