<section class="w-4/5 text-gray-700 body-font overflow-hidden bg-white my-10 p-10">
  <div class="flex bg-white" >
    <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
      <div class="lg:relative bg-white rounded-r-3xl z-10" style="left:50%">
        <% if DataEnterprise.first&.logo.present? %>
        <figure class="w-full flex justiffy-center">
          <%= link_to image_tag(url_for(DataEnterprise.first.logo), width:'100%',class: 'self-center text-lg font-semibold whitespace-nowrap dark:text-white'), root_path, class: 'flex'%>  
        </figure>
        <% end %>
        <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">Build Your New <span class="text-indigo-600">Idea</span></h2>
        <p class="mt-2 text-sm text-gray-500 md:text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi cum cupiditate ducimus, fugit harum id necessitatibus odio quam quasi, quibusdam rem tempora voluptates. Cumque debitis dignissimos id quam vel!</p>
        <div class="flex justify-center lg:justify-start mt-6">
          <a class="px-4 py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:bg-gray-800" href="#contact">Contac us</a>
          <a class="mx-4 px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400" href="#">Learn More</a>
        </div>
      </div>
    </div>
          
    <div class=" lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
      <%= image_tag('espuma.jpg')%>

    </div>
  </div>
</section>

<% if @swiper.present? %>
  <section class="w-4/5 text-gray-700 body-font overflow-hidden bg-white mt-6 mb-6">
    <h3 class="text-gray-600 text-4xl font-medium flex justify-center m-8">Cursos</h3>
    <div class="relative" data-controller="swiper">
      <div class="swiper" data-swiper-target="container">
        <div class="swiper-wrapper">
          <%= render(SlideComponent.with_collection(@swiper))%>
        </div>
      </div>
      <% if @swiper.count > 1 %>
        <div class="swiper-button-prev" data-swiper-target="prev"></div>
        <div class="swiper-button-next" data-swiper-target="next"></div>
      <% end %>
    </div>
  </section> 
<% end %>

<section class="w-4/5 text-gray-700 body-font overflow-hidden bg-white my-10 p-10">
  <div class="flex bg-white" style="height:600px;">
    <div class="hidden lg:block lg:w-1/2" style="clip-path: polygon(0 0%, 73% 0, 100% 100%, 0% 100%)">
        <%= image_tag('IPRT8912.JPG')%>
      <div class="h-full object-cover" style="background-image: url(IPRT8912.JPG)">
        <div class="h-full bg-black opacity-25"></div>
      </div>
    </div>
    <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
      <div>
        <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">Build Your New <span class="text-indigo-600">Idea</span></h2>
        <p class="mt-2 text-sm text-gray-500 md:text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi cum cupiditate ducimus, fugit harum id necessitatibus odio quam quasi, quibusdam rem tempora voluptates. Cumque debitis dignissimos id quam vel!</p>
        <div class="flex justify-center lg:justify-start mt-6">
          <a class="px-4 py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:bg-gray-800" href="#contact">Contac us</a>
          <a class="mx-4 px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @highlights.present? %>
  <section class="w-4/5 text-gray-700 body-font overflow-hidden bg-white my-10 p-10">
    <h3 class="text-gray-600 text-2xl font-medium flex justify-center">Destacados</h3>
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 mt-6">
      <% @highlights.each do |product|%>
        <!-- product_card_component --->
        <%= render(CardProductComponent.new(product: product)) %>
        <!---end product_card_component--->
      <% end %>
    </div>
  </section> 
<% end %>

<div class="flex flex-col w-full" id="contact">
  <%= render 'contacts/form', contact: @contact %>
</div>

