<!DOCTYPE html>
<html>
  <head>
    <title>Gramola Animacion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "hhttps://unpkg.com/swiper@8/swiper-bundle.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/partials/navigation' %>
    <main id="main" class="w-full mx-auto px-5 flex flex-col justify-center items-center">
      <%= turbo_frame_tag 'modal' %>  
      <div class="fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end">
        <div id="notifications" class="flex flex-col items-end justify-center">
          <% flash.each do |type, data| %>
            <%= render NotificationComponent.new(type: type, data: data) %>             
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
    <%= render 'layouts/partials/footer' %>
    <%= render 'layouts/partials/cookies_bar'%>
  </body>
</html>
