<!DOCTYPE html>
<html>
  <head>
    <title>ClTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/partials/navigation' %>
    <main class="container mx-auto px-5 flex flex-col">
      <%= yield %>
    </main>
    <%= render 'layouts/partials/footer' %>
    
    <% if cookies[:allow_cookies].blank? %>
      <%= render 'layouts/partials/cookies_bar'%>
    <% end %>
    <%= turbo_frame_tag 'modal' %>
  </body>
</html>
